<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TEAM LOTTAMN</title>

  </head>

  <body>
      <div class="index-main">
        <div class='index-logo'>
          <%=image_tag("logo.png")%>
        </div>
        
        <div class='index_desc'>
            본 웹은 L.POINT 공모전 참가팀 '롯된 놈들'의 최종 서비스 제안에 관한 이해를 돕는 데모입니다.
        </div>
        
      <a href='/cluster'><button>START</button></a>
      </div>
  </body>

</html>
